.container {
  display: grid;
  grid-template-columns:[container-start] repeat(8,[col-start] minmax(min-content,18.75rem) [col-end]) [container-end];
  grid-template-rows: repeat(8,min-content);
  justify-content: center;
}